/* Reset */

ul,
ol {
  margin: auto; /* This Works */
  padding: 0;
}

/* CSS */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
